Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@Nazariy17java
autotests-cloud
/
qa_guru_5_2_go_deeper
Public
2
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
qa_guru_5_2_go_deeper/.gitignore
@svasenkov
svasenkov Added build.gradle
Latest commit 5093b1b on 15 Mar
 History
 1 contributor
42 lines (36 sloc)  407 Bytes

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project gen files
.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete